@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
body{
	padding-top: 70px;
	font-family: 'PT Sans',sans-serif;
}
.navbar-header{
	margin-top: 0px;
}
// .navbar-default{
// 	background:#fff;
// 	border-bottom: 1px solid #ddd;
// 	height: 70px;
// }
// .logo{

// }
// .cat {
// 	list-style: none;
// 	line-height: 4;
// 	float: right;
// 	li {
// 		float:left;
// 		padding-left:10px;
// 		padding-right:10px;
// 		a {
// 			text-decoration: none;
// 			color: #000;
// 			&:hover {
// 				color:cornflowerblue;
// 			}
// 		}
// 	}
// }